p{
    margin: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 4rem;
    font-weight: 700;
    color: #2b275d;
}

/* .heading{
    border: 2px solid red;
    margin: 1rem;
} */